p {
    height: 62px;
}

img {
    height: 60px;
    width: 60px;
    float: left;
}

label {
    float: left;
    width: calc(100% - 120px);
}

span {
    width: 20px;
    display: inline-block;
    height: 20px;
    margin: 20px 10px;
    cursor: pointer;
}

span.active {
    color: yellow;
}

a {
    width: 100%;
    display: inline-block;
}